.idea
build
.gradle/*
.bundle/**
bin/
.DS_Store
*.iml
*.ipr
*.iws
*.log
*.patch
/tmp/
/out/*
/screenshot_*.png
.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
*.idea
*/gen
*/out
*/artifacts
*.rtf

